<html>
  <head>
    <title>Welcome</title>
  </head>
  <body>
    <link href="abc/css/style.css" rel="stylesheet" />
    <p>Username: {{ user.username }}</p>
    <p>Password: {{ user.password }}</p>
  </body>
</html>
